<section>
    <div *ngIf="allow(); then allowed else notAllowed"></div>
    <ng-template #allowed><div>
        <button (click)="logout()">Выход</button>
    </div></ng-template><ng-template #notAllowed><div>
        <input appInput type="text" [(ngModel)]="form.login" placeholder="Логин">
        <input appInput type="password" [(ngModel)]="form.pass" placeholder="Пароль">
        <button (click)="auth()">Вход</button>
    </div></ng-template>

    <!-- <div [hidden]="allow()">
        <input appInput type="text" [(ngModel)]="form.login" placeholder="Логин">
        <br>
        <input appInput type="password" [(ngModel)]="form.pass" placeholder="Пароль">
        <br>
        <button (click)="auth()">Вход</button>
    </div>
    <div [hidden]="!allow()">
        <button (click)="logout()">Выход</button>
    </div> -->
    <!-- <button (click)="test()">test</button> -->
</section>