@import "../variables";
@import "scrollbar.scss";
@import "input.scss";
@import "button.scss";

@mixin dropdown {
    position: relative;

    & div.dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        z-index: 1;
        overflow-x: auto;
        overflow-x: auto;
        border: none;
        max-height: calc(100vh - #{$height_medium * 2.5});
        max-width: calc(100vw - 10px);
        resize: both;
        box-shadow: $shadowDefault;
        @include scrollbar;
    }
}

@mixin dropdownDefault_filter {
    @include dropdown;

    & div.dropdown {
        background-color: $colorDefault;
        width: 300px;
        @include inputDefault;

        & div {
            &.list {
                @include inputDefault;
                padding: 5px;
            }
            &.tools {
                position: sticky;
                z-index: 1;
                bottom: 0;
    
                & button {
                    @include buttonBrand;
                    height: $height_medium;
                }
            }
        }

    }
}
