// $gray: rgb(45, 45, 45);
$gray: rgb(18, 38, 61);

$blue: rgb(38, 95, 160);
$blueHover: rgb(20, 65, 116);

$whiteHover: rgb(226, 226, 226);
$whiteFocus: rgb(199, 225, 255);
$whitePlaceholder: rgb(165, 165, 165);

$shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);

$widthSmall: 100px;
$widthMedium: 200px;
$widthLarge: 300px;

$topbarHeight: 35px;

@mixin width {
    &.small {
        min-width: $widthSmall;
        max-width: $widthSmall;
    }

    &.medium {
        min-width: $widthMedium;
        max-width: $widthMedium;
    }

    &.large {
        min-width: $widthLarge;
        max-width: $widthLarge;
    }
}

@mixin cell {
    border: 1px solid $whiteHover;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0;

    @include width;
}

@mixin scrollBar {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;

        &-track {
            background-color: white;
        }

        &-thumb {
            background-color: $blue;

            &:hover {
                background-color: $blueHover;
            }
        }
    }
}

@mixin buttonAction {
    background-color: $blue;
    color: white;

    &:hover {
        background-color: $blueHover;
    }

    &:active {
        background-color: white;
        color: black;
    }
}

@mixin inputAction {
    &:hover {
        background-color: $whiteHover;
    }

    &:focus {
        background-color: $whiteFocus;
        color: black;
    }

    &::placeholder {
        color: $whitePlaceholder;
    }
}

@mixin input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0px;
    text-align: center;
    @include inputAction;
}

@mixin button {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    min-width: $widthMedium;
    // max-width: $widthLarge;
    padding: 0 20px;
    white-space: nowrap;
    @include buttonAction;

    &.active {
        box-shadow: inset $shadow;
        // background-color: ;
        @include gradientAnimation($blue, $blueHover, $blueHover, $blueHover);
    }
}

@mixin buttonTable {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    white-space: nowrap;
    color: black;
    background-color: white;

    &:hover {
        background-color: $whiteHover;
    }

    &:active {
        background-color: $whiteFocus;
    }
}

@mixin topbar {
    background-color: $blue;
    height: $topbarHeight;
    box-shadow: $shadow;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    @include scrollBar;

    & a,
    & button,
    & form {
        @include button;
    }
}

@mixin table {
    overflow: auto;
    width: 100%;
    height: calc(100vh - $topbarHeight);
    @include scrollBar;

    & table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;

        &.header {
            position: sticky;
            top: 0;
            z-index: 1;

            box-shadow: $shadow;

            & tr {
                & th {
                    height: $topbarHeight;
                    @include cell;

                    & input {
                        @include input;
                        height: 100%;
                    }

                    & button {
                        @include buttonTable;
                    }
                }
            }
        }

        &.content {
            & tr {
                & td {
                    height: 75px;
                    @include cell;
                }
            }
        }
    }

}

$col1: #ee7752;
$col2: #e73c7e;
$col3: #23a6d5;
$col4: #23d5ab;

@mixin gradientAnimation($col1, $col2, $col3, $col4) {
    background: linear-gradient(-45deg, $col1, $col2, $col3, $col4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    // height: 100vh;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}