<section>
    <table class="header">
        <tr>
            <th class="small">Действие</th>
            <th class="medium">Инициатор</th>
            <th class="medium">Контрагент</th>
            <th class="large">Наименование</th>
            <th class="small">Номер</th>
            <th class="small">Дата</th>
            <th class="small">Сумма</th>
            <th class="medium">Отметка</th>
            <th class="small">Статус</th>
            <th class="small">Дата копии</th>
            <th class="small">Дата ориг-ла</th>
            <th class="medium">Комментарий</th>
        </tr>
        <tr>
            <th class="small"><button>Добавить</button></th>
            <th class="medium"><input type="text"></th>
            <th class="medium"><input type="text"></th>
            <th class="large"><input type="text"></th>
            <th class="small"><input type="text"></th>
            <th class="small"><input type="text"></th>
            <th class="small"><input type="text"></th>
            <th class="medium"></th>
            <th class="small"></th>
            <th class="small"><input type="text"></th>
            <th class="small"><input type="text"></th>
            <th class="medium"><input type="text"></th>
        </tr>
    </table>
    <table class="content">
        <!-- <tr *ngFor="let row of table">
            <td class="medium">{{row.contractor.name}}</td>
            <td class="large">{{row.destination}}</td>
            <td class="medium">{{row.initiator ? row.initiator.name : ""}}</td>
            <td class="small">{{row.sum}}</td>
            <td class="small">{{row.sumClosing}}</td>
            <td class="small">В работе</td>
            <td class="medium">{{row.about ? row.about.text : ""}}</td>
            <td class="medium">{{row.mark ? row.mark.text : ""}}</td>
            <td class="small">{{row.status ? row.status.text : ""}}</td>
            <td class="small">{{row.copyDate}}</td>
            <td class="small">{{row.origDate}}</td>
            <td class="medium">{{row.title}}</td>
        </tr> -->
    </table>
</section>