<section>
  <table class="header">
    <tr>
      <th class="small"><button *ngIf="!buhService.insertedRow.isDefault"
          (click)="resetInsertBoofer()">Сбросить</button></th>
      <th class="medium">
        <input type="month" (change)="filterInputDate()" [(ngModel)]="filterInputDateString" />
      </th>
      <th class="medium">{{ loadingElements.text }}</th>
      <th class="large"></th>
      <th class="small">
        <button *ngIf="isChanged" (click)="submit()">Применить</button>
      </th>
      <th class="small">
        <button *ngIf="isChanged" (click)="tableUpdate()">Отменить</button>
      </th>
      <th class="small"></th>
      <th class="small"></th>
      <th class="small"></th>
      <th class="small"></th>
      <th class="small"></th>
      <th class="medium"></th>
    </tr>
    <tr>
      <th class="small">Действие</th>
      <th class="medium">
        <button (click)="filterToggle(0)">Инициатор</button>
        <div class="dropdown" *ngIf="filterIsOpened[0]">
          <div class="list">
            <div class="listrows" *ngFor="let i of initiators" (click)="toggleCheckbox(i)">
              <input [(ngModel)]="i.isChecked" id="{{ i.id }}" type="checkbox" />
              <label>{{ i.name }}</label>
            </div>
          </div>
          <div class="tools">
            <button (click)="ddFilterManager.confirm('initiator')">
              Применить
            </button>
            <button (click)="ddFilterManager.reset('initiator')">
              Сбросить
            </button>
          </div>
        </div>
      </th>
      <th class="medium">
        <button (click)="filterToggle(1)">Контрагент</button>
        <div class="dropdown" *ngIf="filterIsOpened[1]">
          <div class="list">
            <div class="listrows" *ngFor="let c of contractors" (click)="toggleCheckbox(c)">
              <input [(ngModel)]="c.isChecked" id="{{ c.id }}" type="checkbox" />
              <label>{{ c.name }}</label>
            </div>
          </div>
          <div class="tools">
            <button (click)="ddFilterManager.confirm('contractor')">
              Применить
            </button>
            <button (click)="ddFilterManager.reset('contractor')">
              Сбросить
            </button>
          </div>
        </div>
      </th>
      <th class="large">
        <button (click)="filterToggle(2)">Наименование</button>
        <div class="dropdown" style="height: auto; resize: none" *ngIf="filterIsOpened[2]">
          <input [(ngModel)]="filter.destination" type="search" placeholder="Поиск" />
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(3)">Номер</button>
        <div class="dropdown" style="height: auto; width: 200px; resize: none" *ngIf="filterIsOpened[3]">
          <input [(ngModel)]="filter.number.from" type="number" placeholder="Минимальный номер" />
          <input [(ngModel)]="filter.number.to" type="number" placeholder="Максимальный номер" />
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(4)">Дата док-а</button>
        <div class="dropdown" style="height: auto; width: 200px; resize: none" *ngIf="filterIsOpened[4]">
          <input (change)="syncFilterDate('mainDate', 'from')" [(ngModel)]="filter.mainDate.from" type="date"
            placeholder="Минимальная дата" />
          <input (change)="syncFilterDate('mainDate', 'to')" [(ngModel)]="filter.mainDate.to" type="date"
            placeholder="Максимальная дата" />
          <label><input type="checkbox" [(ngModel)]="filter.mainDate.isNull" />Показать строки без даты</label>
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
            <button (click)="setFilterDateToDefault('mainDate')">Сбросить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(5)">Сумма</button>
        <div class="dropdown" style="height: auto; width: 200px; resize: none" *ngIf="filterIsOpened[5]">
          <input [(ngModel)]="filter.sum.from" type="number" placeholder="Минимальная сумма" />
          <input [(ngModel)]="filter.sum.to" type="number" placeholder="Максимальная сумма" />
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(6)">Отметка</button>
        <div class="dropdown" style="height: auto" *ngIf="filterIsOpened[6]">
          <div class="list">
            <div class="listrows" *ngFor="let m of marks" (click)="toggleCheckbox(m)">
              <input [(ngModel)]="m.isChecked" id="{{ m.id }}" type="checkbox" />
              <label>{{ m.name }}</label>
            </div>
          </div>
          <div class="tools">
            <button (click)="ddFilterManager.confirm('mark')">Применить</button>
            <button (click)="ddFilterManager.reset('mark')">Сбросить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(7)">Статус</button>
        <div class="dropdown" style="height: auto; width: 200px" *ngIf="filterIsOpened[7]">
          <div class="list">
            <div class="listrows" *ngFor="let s of statuses" (click)="toggleCheckbox(s)">
              <input [(ngModel)]="s.isChecked" id="{{ s.id }}" type="checkbox" />
              <label>{{ s.name }}</label>
            </div>
          </div>
          <div class="tools">
            <button (click)="ddFilterManager.confirm('status')">
              Применить
            </button>
            <button (click)="ddFilterManager.reset('status')">Сбросить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(8)">Дата копии</button>
        <div class="dropdown" style="height: auto; width: 200px; resize: none" *ngIf="filterIsOpened[8]">
          <input (change)="syncFilterDate('copyDate', 'from')" [(ngModel)]="filter.copyDate.from" type="date"
            placeholder="Минимальная дата" />
          <input (change)="syncFilterDate('copyDate', 'to')" [(ngModel)]="filter.copyDate.to" type="date"
            placeholder="Максимальная дата" />
          <label><input type="checkbox" [(ngModel)]="filter.copyDate.isNull" />Показать строки без даты</label>
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
            <button (click)="setFilterDateToDefault('copyDate')">Сбросить</button>
          </div>
        </div>
      </th>
      <th class="small">
        <button (click)="filterToggle(9)">Дата ориг-ла</button>
        <div class="dropdown" style="height: auto; width: 200px; resize: none" *ngIf="filterIsOpened[9]">
          <input (change)="syncFilterDate('origDate', 'from')" [(ngModel)]="filter.origDate.from" type="date"
            placeholder="Минимальная дата" />
          <input (change)="syncFilterDate('origDate', 'to')" [(ngModel)]="filter.origDate.to" type="date"
            placeholder="Максимальная дата" />
          <label><input type="checkbox" [(ngModel)]="filter.origDate.isNull" />Показать строки без даты</label>
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
            <button (click)="setFilterDateToDefault('origDate')">Сбросить</button>
          </div>
        </div>
      </th>
      <th class="medium">
        <button (click)="filterToggle(10)">Комментарий</button>
        <div class="dropdown" style="height: auto; width: 200px; resize: none" *ngIf="filterIsOpened[10]">
          <input [(ngModel)]="filter.title" type="search" placeholder="Поиск" />
          <div class="tools">
            <button (click)="tableUpdate()">Применить</button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th class="small"><button (click)="insert()">Добавить</button></th>
      <th class="medium"><input type="text" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.initiator" /></th>
      <th class="medium"><input type="text" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.contractor" /></th>
      <th class="large"><input type="text" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.destination" /></th>
      <th class="small"><input type="number" min="0" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.number" /></th>
      <th class="small"><input type="date" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.date" /></th>
      <th class="small"><input type="number" min="0" step="1000" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.sum" /></th>
      <th class="small"></th>
      <th class="small">
        <select (change)="selectInsertBoofer($event.target)">
          <option *ngFor="let d of dd.status" [value]="d.id" [selected]="d.id === buhService.insertedRow.status.id">
            {{ d.text }}
          </option>
        </select>
      </th>
      <th class="small"><input type="date" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.copyDate" /></th>
      <th class="small"><input type="date" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.origDate" /></th>
      <th class="medium"><input type="text" (change)="buhService.insertedRow.isDefault = false"
          [(ngModel)]="buhService.insertedRow.title" /></th>
    </tr>
  </table>
  <ng-container *ngIf="table.length !== 0; else loading">
    <table class="content">
      <tr *ngFor="let row of table" (click)="toggleSelected(row)" [class.selected]="row === selectedRow">
        <td class="small"><button *ngIf="allow()" (click)="del()">Удалить</button></td>
        <td class="medium">
          <select [ngClass]="{changed: row.initiator_isChanged}" (change)="onChange(row, 'initiator', $event.target)">
            <option *ngFor="let initiator of initiators" [value]="initiator.id"
              [selected]="initiator.id === row.initiator.id">{{initiator.name}}</option>
          </select>
        </td>
        <td class="medium">
          <select [ngClass]="{changed: row.contractor_isChanged}" (change)="onChange(row, 'contractor', $event.target)">
            <option *ngFor="let contractor of contractors" [value]="contractor.id"
              [selected]="contractor.id === row.contractor.id">{{contractor.name}}</option>
          </select>
        </td>
        <td class="large">
          <textarea (change)="onChange(row, 'destination')" [(ngModel)]="row.destination"
            [ngClass]="{ changed: row.destination_isChanged }" style="resize: vertical; margin-top: 3px;">
          </textarea>
        </td>
        <td class="small">
          <input type="number" (change)="onChange(row, 'number')" [(ngModel)]="row.number"
            [ngClass]="{ changed: row.number_isChanged }" min="0" step="1" />
        </td>
        <td class="small">{{row.date_string}}</td>
        <td class="small">
          <input type="number" (change)="onChange(row, 'sum')" [(ngModel)]="row.sum"
            [ngClass]="{ changed: row.sum_isChanged }" min="0" step="1000" />
        </td>
        <td class="small">
          <ng-container *ngIf="allow(); else notAllow">
            <select [ngClass]="{ changed: row.mark_isChanged }" (change)="onChange(row, 'mark', $event.target)">
              <option *ngFor="let d of dd.mark" [value]="d.id" [selected]="d.id === row.mark.id">{{ d.text }}</option>
            </select>
          </ng-container>
          <ng-template #notAllow>{{ row.mark.text }}</ng-template>
        </td>
        <td class="small">
          <select [ngClass]="{ changed: row.status_isChanged }" (change)="onChange(row, 'status', $event.target)">
            <option *ngFor="let d of dd.status" [value]="d.id" [selected]="d.id === row.status.id">{{ d.text }}</option>
          </select>
        </td>
        <td class="small">
          <input type="date" (change)="onChange(row, 'copyDate')" [(ngModel)]="row.copyDate_string"
            [ngClass]="{ changed: row.copyDate_isChanged }" [attr.readonly]="!allow() ? true : null" />
        </td>
        <td class="small">
          <input type="date" (change)="onChange(row, 'origDate')" [(ngModel)]="row.origDate_string"
            [ngClass]="{ changed: row.origDate_isChanged }" [attr.readonly]="!allow() ? true : null" />
        </td>
        <td class="medium">
          <input type="text" (change)="onChange(row, 'title')" [(ngModel)]="row.title"
            [ngClass]="{ changed: row.title_isChanged }" />
        </td>
      </tr>
    </table>
    <!-- <ng-container *ngIf="table.length !== 0; else loading">
    <table class="content">
      <tr
        *ngFor="let row of table"
        (click)="toggleSelected(row)"
        [class.selected]="row === selectedRow"
      >
        <td class="medium">{{ row.contractor.name }}</td>
        <td class="large">{{ row.destination }}</td>
        <td class="medium">{{ row.initiator ? row.initiator.name : "" }}</td>
        <td class="small">{{ row.sum }}</td>
        <td class="small">
          <input
            type="number"
            (change)="onChange(row, 'sumClosing')"
            [(ngModel)]="row.sumClosing"
            [ngClass]="{ changed: row.isChanged_sumClosing }"
            min="0"
            step="1000"
          />
        </td>
        <td class="small">{{ dd.control[control(row)].text }}</td>
        <td class="small">
          <select
            [ngClass]="{ changed: row.isChanged_about }"
            (change)="onChange(row, 'about', $event.target)"
          >
            <option
              *ngFor="let d of dd.about"
              [value]="d.id"
              [selected]="d.id === row.about.id"
            >
              {{ d.text }}
            </option>
          </select>
        </td>
        <td class="small">
          <ng-container *ngIf="allow(); else notAllow">
            <select
              [ngClass]="{ changed: row.isChanged_mark }"
              (change)="onChange(row, 'mark', $event.target)"
            >
              <option
                *ngFor="let d of dd.mark"
                [value]="d.id"
                [selected]="d.id === row.mark.id"
              >
                {{ d.text }}
              </option>
            </select>
          </ng-container>
          <ng-template #notAllow>{{ row.mark.text }}</ng-template>
        </td>
        <td class="small">
          <select
            [ngClass]="{ changed: row.isChanged_status }"
            (change)="onChange(row, 'status', $event.target)"
          >
            <option
              *ngFor="let d of dd.status"
              [value]="d.id"
              [selected]="d.id === row.status.id"
            >
              {{ d.text }}
            </option>
          </select>
        </td>
        <td class="small">
          <input
            type="date"
            (change)="onChange(row, 'copyDate')"
            [(ngModel)]="row.copyDate_string"
            [ngClass]="{ changed: row.isChanged_copyDate }"
            [attr.readonly]="!allow() ? true : null"
          />
        </td>
        <td class="small">
          <input
            type="date"
            (change)="onChange(row, 'origDate')"
            [(ngModel)]="row.origDate_string"
            [ngClass]="{ changed: row.isChanged_origDate }"
            [attr.readonly]="!allow() ? true : null"
          />
        </td>
        <td class="medium">
          <input
            type="text"
            (change)="onChange(row, 'title')"
            [(ngModel)]="row.title"
            [ngClass]="{ changed: row.isChanged_title }"
          />
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-template #loading>
    <div class="loading"><img [src]="loadingPage" /></div>
  </ng-template> -->
  </ng-container>
  <ng-template #loading>
    <div class="loading"><img [src]="loadingElements.img" /></div>
  </ng-template>

</section>